:root {
    --color-bg: #222;
    --color-text-primary: #fff;


    --font-size-primary: 1rem;
    --font-size-header: 6rem;


    --border-width: 1px;
    --border-color-primary: #444;
    --border-radius: 4px;

    --pad-regular: 1rem 2rem;


    --main-transition-time: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: var(--color-text-primary);
    background: var(--color-bg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 2rem auto;
}

.logo {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: lighter;
}

.app-header {
    display: flex;
    justify-content: center;
}

.app-title {
    font-weight: 500;
    font-size: 3rem;;
}

.timers {
    display: flex;
    justify-content: center;
}

.timer-time {
    text-align: center;
    font-size: var(--font-size-header);
    font-weight: lighter;
    margin-bottom: 1rem;
}

.timer-widget {
    border: var(--border-width-selected) solid var(--color-bg);
    padding: 1rem;
    border-radius: var(--border-radius);
}


.timer-input {
    border: none;
    outline: none;
    width: auto;
    border: var(--border-width) solid var(--border-color-primary);
    border-radius: var(--border-radius);
    font-size: var(--font-size-primary);
    color: var(--color-text-primary);
    background-color: var(--color-bg);
    padding: var(--pad-regular);
}

.btn {
    border: none;
    outline: none;
    border: var(--border-width) solid var(--border-color-primary);
    font-size: var(--font-size-primary);
    padding: var(--pad-regular);
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.add-more-btn {
    background: var(--color-bg);
    color: var(--color-text-primary);
    transition: all var(--main-transition-time) ease-in-out;
}

.add-more-btn:hover {
    background: #111;
}
